@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --color-surface-default: #eee;
  --color-surface-elevated: #f0f2f5;
  --color-surface-profile: rgba(249, 242, 245, 0.5);

  --color-profile-card-default: rgba(249, 242, 245, 0.5);
  --color-input-default: "#eee";

  --color-background-default: "#fff";

  --color-brand-primary: #0000cd;
  --color-brand-secondary: orange;
  --color-brand-accent: rgba(0, 128, 128, 0.9);

  --color-text-primary: #000123;
  /* --color-text-primary: #11181c; */
  /* --color-text-primary: #6b7280; */
  --color-text-muted: #687076;

  --color-icon-default: #687076;
  --color-tab-inactive: #687076;

  --color-border-subtle: #eee;

  --color-button-primary: orange;
  --color-button-primary-transparent: rgba(255, 168, 0, 0.35);

  --color-status-error: #ff8282;
  --color-status-error-subtle: rgba(255, 130, 130, 0.35);
  --color-status-success: #b9fbc0;
  --color-status-success-subtle: rgba(185, 251, 192, 0.7);
  --color-status-pending: #fae1dd;
  --color-status-pending-subtle: rgba(250, 225, 221, 0.5);
  --color-status-delivered: #81b0ff;
  --color-status-delivered-subtle: rgba(129, 176, 255, 0.35);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --color-surface-default: rgba(30, 33, 39, 0.5);
    --color-surface-elevated: #303339;
    --color-surface-profile: rgba(30, 33, 39, 0.5);
    --color-profile-card-default: rgba(30, 33, 39, 0.5);

    --color-background-default: #18191c;

    --color-input-default: "rgba(30, 33, 39, 0.5)";

    --color-text-primary: #fff;
    /* --color-text-primary: #c9c7c7; */
    /* --color-text-primary: #cccc; */
    --color-text-muted: #9ba1a6;

    --color-icon-default: #ddd;
    --color-tab-inactive: #ddd;

    --color-border-subtle: #2f4550;
  }
}

/* @font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("ttf");

  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";

  src: url("/assets/fonts/Poppins-Bold.ttf") format("ttf");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";

  src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";

  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");

  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";

  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";

  src: url("/assets/fonts/Poppins-Thin.ttf") format("truetype");

  font-weight: 200;
  font-style: normal;
} */
